<app-header></app-header>

<ion-content [fullscreen]="true" scroll-y="true">
  <ion-grid class="ion-margin">
    <ion-row class="ion-justify-content-center ion-margin-vertical">
      <ion-col size-lg="7" size-md="7" size-sm="12" size-xs="12">
        <ion-text class="main-text">
          Discover the magic of our surprise box
        </ion-text>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center ion-margin-vertical">
      <ion-col size-lg="7" size-md="7" size-sm="12" size-xs="12">
        <ion-text class="desc-text">
          Unleash your child's curiosity with our educational subscription box
          filled with fun and learning.
        </ion-text>
      </ion-col>
    </ion-row>

    <ion-row class="ion-justify-content-center ion-margin-vertical">
      <ion-col size-lg="7" size-md="7" size-sm="12" size-xs="12">
        <ion-button class="subscribe-now-btn" strong="true">
          <ion-text class="ion-padding"> Subscribe Now </ion-text>
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row
      class="ion-margin-vertical ion-margin-vertical ion-padding-vertical"
    >
      <ion-col class="ion-margin-top">
        <ion-img
          src="assets/images/PlaceholderImage.png"
          class="ion-margin-top"
        />
      </ion-col>
    </ion-row>
  </ion-grid>

  <app-how-to-subscribe></app-how-to-subscribe>
  <app-footer></app-footer>
</ion-content>
