.main-text {
  color: #fff;
  text-align: center;
  text-shadow: 2px 2px 0px #896af9;
  font-family: Nunito;
  font-size: 56px;
  font-style: normal;
  font-weight: 900;
  line-height: 120%; /* 67.2px */
}
.desc-text {
  color: #fff;
  text-align: center;
  font-family: Nunito;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 36px */
}
ion-col {
  text-align: center;
}
ion-content {
  --background: #ab95f9;
  --ion-background-color-rgb: 171, 149, 249;
}
