<ion-footer class="ion-padding ion-padding-top">
  <!--  -->
  <ion-grid class="ion-hide-md-up">
    <ion-row>
      <ion-col size="12" class="ion-margin-bottom">
        <img src="assets/images/logo.svg" />
      </ion-col>
      <ion-col size-sm="12">
        <ion-text class="link-text">Link One</ion-text>
      </ion-col>
      <ion-col size-sm="12">
        <ion-text class="link-text">Link Two</ion-text>
      </ion-col>
      <ion-col size-sm="12">
        <ion-text class="link-text">Link Three</ion-text>
      </ion-col>
      <ion-col size-sm="12">
        <ion-text class="link-text">Link Four</ion-text>
      </ion-col>
      <ion-col size-sm="12">
        <ion-text class="link-text">Link Five</ion-text>
      </ion-col>

      <ion-col size-sm="12" class="ion-margin-top">
      <ion-text class="link-text">Subscribe</ion-text>
        <ion-item>
          <ion-input
            label="Enter your email"
            labelPlacement="floating"
            placeholder="Enter your email"
          ></ion-input>
        </ion-item>
        <ion-button expand="block">
          <ion-text class="link-text-white">Subscribe</ion-text>
        </ion-button>
        <ion-text>By subscribing you agree to with our Privacy Policy</ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="div-border"></div>

  <ion-text class="footer-text ion-margin-horizontal">
    Privacy Policy
  </ion-text>
  <ion-text class="footer-text ion-margin-horizontal">
    Terms of Service
  </ion-text>
  <ion-text class="footer-text ion-margin-horizontal">
    Cookies Settings
  </ion-text>
  <ion-text class="footer-text float-right">
    © 2023 MyEdu. All rights reserved.
  </ion-text>
</ion-footer>
